<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your files</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="webjars/jquery-ui/1.11.4/jquery-ui.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="../static/assets/style.min.css" th:href="@{assets/style.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/assets/bootstrap-datetimepicker.min.css" th:href="@{assets/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen" />
    <style type="text/css">
        body {
            margin: 0;
            min-width: 1000px;
        }
        a.not-underline,
        a.not-underline:visited,
        a.not-underline:hover,
        a.not-underline:active {
            text-decoration: none;
        }
        .clickable-row {
            cursor: default;
        }
        tr.selected {
            background: #beebff;
            background: -webkit-linear-gradient(top,#beebff 0,#a8e4ff 100%);
            background: linear-gradient(to bottom,#beebff 0,#a8e4ff 100%);
        }
        dl {
            margin-bottom: 0;
        }
        .dl-horizontal dt {
            width: 100px;
        }
        .dl-horizontal dd {
            margin-left: 110px;
        }
        .act-result {
		    background-color: rgba(204, 202, 202, 0.73);
		    border: 1px solid transparent;
		    border-radius: 4px;
		    left: 50%;
		    margin-left: -175px;
		    position: fixed;
		    top: 200px;
		    width: 350px;
		    z-index: 1000;
		}
		
		.act-result-title {
		    text-align: center;
		    width: 100%;
		}
		
		.act-result img {
		    left: 41%;
		    position: relative;
		}
		
		.act-result p {
		    margin: 0;
		    padding: 20px;
		    text-align: center;
		    word-wrap: break-word;
		}
        
    </style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/defaults :: dNav"></nav>
<nav class="navbar navbar-default" th:replace="fragments/clientBrowser :: clientNav"></nav>

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"  role="tab" id="headling-file-tree">
            <a href="#file-tree-panel" class="not-underline" data-toggle="collapse" aria-expanded="false"
               aria-controls="file-tree" role="button" style="color: #333;">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>&nbsp;&nbsp;</a>
            <span id="home-dir" style="cursor: pointer"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> My disk</span>
        </div>
        <div id="file-tree-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headling-file-tree">
            <div class="panel-body" style="padding: 0">
                <div id="files-tree"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="alert alert-danger alert-dismissible" id="alert-panel" style="display:none" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="alert-body" id="alert-panel-body"></div>
    </div>
    <div id="loading-table" style="width: 100%; text-align: center">
        <img src="../static/assets/spinner.gif" th:src="@{/assets/spinner.gif}"/>
    </div>
    <div id="panel"></div>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Properties</h3>
        </div>
        <div id="no-file-select" style="text-align: center; padding-bottom: 10px">
            <div style=" opacity: .25;display: inline-block;margin: 20px 0;" >
                <svg width="107px" height="82px" viewBox="0 0 107 82" focusable="false" style="overflow: visible;vertical-align: top;">
                    <path class="a-pa-wd-At1hV-Ff" fill="#000000" d="M0,4a4,4,0,0,1,4,-4h89a4,4,0,0,1,4,4v18.5l-23.5,40.5h-69.5a4,4,0,0,1,-4,-4ZM74.5,65l23,-39.15l1,0l7,4.1l1,1l-23,39.15ZM74,65.8l9.5,5.5l-9,4ZM97,51v8a4,4,0,0,1,-4,4h-3ZM21,63v19l23,-19Z"></path>
                </svg>
            </div>
            <div tabindex="0">Choose file or folder to view properties.</div>
        </div>
        <div id="loading-props" style="padding-top: 10px;padding-bottom: 10px; text-align: center; display: none">
            <img src="../static/assets/spinner.gif" th:src="@{/assets/spinner.gif}"/></div>

        <div id="file-props-wrapper" class="panel-body" style="display: none">
            <div id="file-props-panel"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="backup-mod" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Backup status</h4>
            </div>
            <div class="modal-body">
                <h3>Backup finished</h3>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/x-dust-template" id="tmpl-explorer">
    <table id="file-table" class="table table-hover">
        <thead>
        <tr>
            <th width="70%">Name</th>
            <th>Last modified</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr class="clickable-row" data-prev-dir-id="">-->
            <!--<td data-file-type="DIRECTORY" data-file-id="" data-noprops="true"><img src="/assets/go-back.png"/></td>-->
            <!--<td></td></tr>-->
        {#files}
        <tr class="clickable-row" data-dir-id="{parentUid}">
            <td data-file-type="{fileType}" data-file-id="{uid}">
                {@eq key=fileType value="DIRECTORY"}
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                {:else}
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                {/eq}&nbsp;{name}</td>
            <td>{lastModified|last_modified}</td>
        </tr>
        {/files}
        </tbody>
    </table>
</script>

<script type="text/x-dust-template" id="tmpl-block-info">
    {#block}
    <p>Block ID: {blockId}</p>
    <p>Block Pool ID: {blockPoolId}</p>
    <p>Generation Stamp: {generationStamp}</p>
    <p>Size: {numBytes}</p>
    {/block}
    <p>Availability:
    <ul>
        {#locations}
        <li>{hostName}</li>
        {/locations}
    </ul>
    </p>
</script>
<script type="text/x-dust-template" id="tmpl-dir-props">
    {#file}
    <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd>Folder</dd>
        <dt>Name</dt>
        <dd>{name}</dd>
        <dt>Created</dt>
        <dd>{created|last_modified}</dd>
        <dt>Last modified</dt>
        <dd>{lastModified|last_modified}</dd>
    </dl>
    {/file}
</script>
<script type="text/x-dust-template" id="tmpl-file-props">
    {#file}
    <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd>File</dd>
        <dt>Name</dt>
        <dd>{name}</dd>
        <dt>Size</dt>
        <dd>{length|fmt_bytes}</dd>
        <dt>Created</dt>
        <dd>{created|last_modified}</dd>
        <dt>Last modified</dt>
        <dd>{lastModified|last_modified}</dd>
        <dd>
            <button id="get-file-history" type="button" class="btn btn-default btn-xs" data-file-id="{id}">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> History</button>
        </dd>
    </dl>
    {/file}
</script>
<script src="../static/assets/jstree.min.js" th:src="@{/assets/jstree.min.js}"></script>
<script src="../static/assets/block.ui.min.js" th:src="@{/assets/block.ui.min.js}"></script>
<script src="../static/assets/dust-full-2.0.0.min.js" th:src="@{/assets/dust-full-2.0.0.min.js}"></script>
<script src="../static/assets/dust-helpers-1.1.1.min.js" th:src="@{/assets/dust-helpers-1.1.1.min.js}"></script>
<script src="../static/assets/bootstrap-datetimepicker.min.js" th:src="@{/assets/bootstrap-datetimepicker.min.js}"></script>
<script src="../static/assets/dfs-dust.js" th:src="@{/assets/dfs-dust.js}"></script>
<script src="../static/assets/explorer.js" th:src="@{/assets/explorer.js}"></script>
</body>
</html>