<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="../static/assets/signin.css" th:href="@{assets/signin.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">

    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="login" class="sr-only">Email address</label>
        <input type="text" id="login" class="form-control" placeholder="Login" required="" autofocus="" name="username"/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required="" name="password"/>

        <div th:if="${param.error != null}" class="alert alert-danger" role="alert">
            <strong>Error!</strong> Login or password is incorrect
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-lg btn-block" id="signup">Sign up</button>


    </form>


</div>
<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#signup').click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "/ns-admin/new-user",
            method: "POST",
            data: $('.form-signin').serialize(),
            cached: false,
            success: function(user) {
                $("[type=submit]").click();
            }
        })
    });
</script>
</body>
</html>