<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="../static/css/bootstrap-treeview.min.css" th:href="@{css/bootstrap-treeview.min.css}" rel="stylesheet" media="screen" />
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">

   <h1>NEED ACCESS</h1>
</div>
<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../static/js/bootstrap-treeview.min.js" th:src="@{/js/bootstrap-treeview.min.js}"></script>
<script src="../static/assets/dust-full-2.0.0.min.js" th:src="@{/js/dust-full-2.0.0.min.js}"></script>
<script src="../static/assets/dust-helpers-1.1.1.min.js" th:src="@{/js/dust-helpers-1.1.1.min.js}"></script>
<script src="../static/assets/dfs-dust.js" th:src="@{/js/dfs-dust.js}"></script>
<script src="../static/assets/explorer.js" th:src="@{/js/explorer.js}"></script>
</body>
</html>