<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-inverse" th:fragment="dNav" style="border-radius: 0;padding-right: 0;padding-left: 0;top: 0;width: 100%;z-index: 1030;border-width: 0 0 1px; margin-bottom: 0">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="/">File system</a>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/">Home</a></li>-->
        </ul>
    </div>
    <div class="navbar-header pull-right">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/logout}">Logout</a></li>
            <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                    <!--Logged in as: <strong th:name="${#httpServletRequest.remoteUser}"></strong> <span class='caret'></span></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log in with another user</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</nav>

</body>
</html>